<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->

        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {{!-- <img class="rounded-circle me-lg-2" src=" images/user.jpg" alt="" --}} {{!--
                                style="width: 40px; height: 40px;"> --}}
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/admin/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->



            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0" id="TodaySale"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Orders</p>
                                <h6 class="mb-0 " id="TodayOrders"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">This month orders</p>
                                <h6 class="mb-0" id="ThismonthOrders"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Monthly Revenue</p>
                                <h6 class="mb-0" id="ThismonthRevenue"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input hidden value="{{Stats.Daywise}}" id="Daywise">
            <input hidden value="{{Stats.Today}}" id="Today">
            <!-- Sale & Revenue End -->

            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <br>
            <div class="col-sm-12 col-xl-6">
                <canvas id="ChartPie" style="width:100%;max-width:600px"></canvas>
            </div>

            <!-- Back to Top -->




            <script>

                $.ajax({
                    url: "/admin/viewWeeklyreport",
                    method: "GET",
                    success: (response) => {
                        console.log(response)
                        let daywise = response.Daywise;
                        let Monthly = response.Monthly;
                        let Today = response.Today;
                        let todaySale = response.todaySale



                        var xValues = [
                            daywise[0]._id.day,
                            daywise[1]._id.day,
                            daywise[2]._id.day,


                        ]
                        var yValues = [

                            daywise[0].count,
                            daywise[1].count,
                            daywise[2].count,

                        ];

                        /* new Chart("myChart", {
                            type: "line",
                            data: {
                                labels: xValues,
                                datasets: [{

                                    fill: false,
                                    lineTension: 0,
                                    backgroundColor: "rgba(0,0,255,1.0)",
                                    borderColor: "rgba(0,0,255,0.1)",
                                    data: yValues
                                }]
                            },
                            options: {
                                legend: { display: false },
                                scales: {
                                    yAxes: [{ ticks: { min: 0, max: 30 } }],
                                }
                            }
                        }); */
                        document.getElementById('TodaySale').innerHTML = daywise[0].totalAmount;
                        document.getElementById('TodayOrders').innerHTML = daywise[0].count;
                        document.getElementById('ThismonthOrders').innerHTML = Monthly[0].totalAmount;
                        document.getElementById('ThismonthRevenue').innerHTML = Monthly[0].count;
                        var ValuesX = ["Italy", "France", "Spain", "USA", "Argentina"];
                        var ValuesY = [55, 49, 44, 24, 15];
                        var barColors = [
                            "#b91d47",
                            "#00aba9",
                            "#2b5797",
                            "#e8c3b9",
                            "#1e7145"
                        ];

                        new Chart("myChart", {
                            type: "pie",
                            data: {
                                labels: ValuesX,
                                datasets: [{
                                    backgroundColor: barColors,
                                    data: ValuesY
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: "World Wide Wine Production 2018"
                                }
                            }
                        });
                    }

                })


            </script>

            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

</body>