<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" />
{{!--
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script> --}}
<style>
  p {
    color: #000;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
  }

  #title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -40px;
    position: relative;
    color: #000;
  }

  .container {
    width: 100%;
  }

  .copy-container {
    text-align: center;
  }
</style>
<div class="container ">
  <div id="title">Something Wrong
    <br /><br />
    <div class="copy-container center-xy align-items-center">

      <p>
        {{code}}
        {{message}}
      </p>

      <span class="handle"></span>

    </div>
  </div>

</div>
<br><br>
<div class="d-flex align-items-center justify-content-center" style="height: 800px;">
  <div class=" row d-flex " style="width:20%">
    <a href="/" class="center btn btn-outline-dark btn-block btn-lg"> Back To Home </a>
  </div>
  <div>