<br />
<br />
<br />
<div class="d-flex justify-content-center container-fluid">
    {{!-- <div class="row mt-5 pt-5 justify-content-center"> --}}
        <br />
        <div class="text-center ">
            <form action="/changePassword" method="post" id="changePass" novalidate>
                <div class="col-12 mb-4">
                    {{#if notmatch}}
                    <p class="text-center text-danger"> Enter the correct Password</p>
                    {{/if}}

                    <label for="email_address">Enter Old Password
                        <span>*</span></label>
                    <input type="text" size="30%" class="form-control" id="email_address" value="" name="OldPassword"
                        required>
                </div>

                <div class="col-12 mb-4">
                    <label for="email_address">Enter New Password
                        <span>*</span></label>
                    <input type="text" class="form-control" id="email_address" value="" name="Password" required>
                </div>
                {{#if Notmatch}}
                <p class="text-center text-danger"> Please Enter The Same Password Again</p>
                {{/if}}
                <div class="col-12 mb-4">
                    <label for="email_address">Repeat Password
                        <span>*</span></label>
                    <input type="text" class="form-control" id="email_address" value="" name="ConfirmPassword" required>
                </div>
                <div class="col-12 mb-4 ">
                    <button style="margin-left: 2rem;" type="submit" class="btn btn-primary btn-md">submit</button>
                </div>
                <div class="col-6 mb-4"></div>
            </form>
        </div>

    </div>

    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#changePass").validate({
                rules: {
                    Password: {
                        required: true,
                        minlength: 5,

                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 5,
                        equalTo: "#Password"
                    },

                },
                messages: {

                    Password: {
                        required: "Please Enter your password",
                        minlength: "Minimum 5 charactors in password"
                    },
                    ConfirmPassword: {
                        required: "Confirm your password",
                        equalTo: "Enter the same password again"
                    }
                }

            });
        });
    </script> --}}