<br />
<br />
<br />
<div>
  <div class="row mt-5 pt-5 justify-content-center">
    <br />
    <form action="/confirm" method="post">

      <input type="text" id="form" name="otp" />
      <label class="form-label" for="form3Example1c">Enter Otp</label>
      <button type="submit" class="btn btn-primary btn-md">submit</button>
    </form>
  </div>

</div>