<style>
    body {

        color: #1a202c;
        text-align: left;
        background-color:
    }

    a {
        text-decoration: none;
        color: #1a202c;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color:
            background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
<div class="container">
    <div class="main-body mt-5">
        <br>
        <!-- Breadcrumb -->

        <!-- /Breadcrumb -->

        <div class="row gutters-sm mt-5">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <img src="/images/new/order_.png" style="height: 40px;">
                                <a href="/myaccount/orders">
                                    <h4>Orders</h4>
                                    <p class="text-secondary mb-1"></p>
                            </div>
                            {{!-- <div>
                                <div class="card-header">
                                    Featured
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div> --}}

                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <img src="/images/new/lock.png" style="height: 40px;">
                                <a href="/myaccount/account-security">
                                    <h4>Account & Secutity</h4>
                                </a>
                                <p class="text-secondary mb-1"></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <img src="/images/new/address.png" style="height: 40px;"> <a href="/addresses ">
                                    <a href="/myaccount/addresses">
                                        <h4>Addresses</h4>
                                    </a>

                                    <p class="text-secondary mb-1"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main-body mt-5 row gutters-sm mt-5 ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="">
                            <img src="/images/new/gift-coupon-icon-10.png" style="height: 40px;">
                            <a href="/myaccount/account-security">
                                <h4>Coupons</h4>
                            </a>
                            <p class="text-secondary mb-1"></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="">
                            <img src="/images/new/download (1).jpeg" style="height: 40px;">
                            <a href="/wishlist  ">
                                <h4>Wishlist</h4>
                            </a>
                            <p class="text-secondary mb-1"></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="">
                            <img src="/images/new/shopping-cart-icon-vector-logo-137282150.jpg" style="height: 40px;">
                            <a href="/cart">
                                <h4>Cart</h4>
                            </a>
                            <p class="text-secondary mb-1"></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {{!--
    <div class="card" style="width: 18rem;">

    </div>

    <div class="ms-5 d-flex justify-content-center">
        <div class=" col-md-8 mt-5 text-center">
            <div class="card mb-3 ">
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-3">
                            <h6 class="mb-0">User Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.Name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.email}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.Mobile}}
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div> --}}
</div>
</div>
</div>